# Este arquivo serve como exemplo. Copie-o para .env e preencha suas variáveis de ambiente locais.
POSTGRES_USERNAME=your_username
POSTGRES_PASSWORD=your-super-secret-password
JWT_SECRET=jwt-secret
JWT_EXPIRATION=jwt-expiration